/* Start Variables */
:root
{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --main-duration:0.3s;
}
/* End Variables */

/* start global rules */
*
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}   
html
{
    scroll-behavior: smooth;
}

body
{
    font-family: "Work Sans",sans-serif;
}

.parent
{
    background-color: aliceblue;
   
}
.container
{

    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
/* smaller screen will take the defult width:auto or fill the screen */

/* small screens */
@media (min-width:768px) {
    .container
    {
        width: 750px;
    }
  
}
/* medium screens */
@media (min-width:992px) {
    .container
    {
        width: 970px;
    }
    
}
/* large screens */  
@media (min-width:1200px) {
    .container
    {
        width: 1170px;
    }
    
}
/* end global rules */
/* Start compnents */
.special-heading
{
    text-align: center;
    
    
}
.special-heading h2
{
   font-size: 100px;
   font-weight: 800;
   color:#ececec;
   margin: 0;
   letter-spacing: -3px;
   transition: var(--main-duration);
   display: inline;
}
.special-heading h2:hover
{
    color:#c0c0c0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.185);
}
.special-heading p
{
    margin: -30px 0 0 0;
    color: #777;
    font-size: 20px;
}
@media (max-width:500px) {
    .special-heading h2
    {
        font-size: 80px;
    }
    .special-heading p
    {
        font-size: 15px;
        margin-top: -25px;
    }
    
}
i
{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.836);
}
/* end components */

/* Start Header */
.header
{
    padding: 20px;
}
.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo
{
    width: 60px;
}
.header .links
{
    position: relative;
}
.header .links .icon
{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
   
}
.header .links .icon span
{
margin-bottom: 5px;
background-color: #333;
    height: 2px;
}
.header .links .icon span:first-child
{
   
    width: 100%;
}
.header .links .icon span:nth-child(2)
{

    width: 60%;
    transition: var(--main-duration);
    
}
.header .links .icon span:last-child
{
    width: 100%;
}

.header .links .icon:hover span:nth-child(2)
{
    width: 100%;

}
.header .links ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top:calc(100% + 15px);
    border-radius: 4px;
    display: none;
    transition: var(--main-duration);
    z-index: 1;
}
.header .links .icon:hover + ul 
{
  display: block;
}
.header .links ul:hover 
{
 display: block;
}
.header .links ul::before
{
    content: "";
    border-width: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    bottom: 100%;

}
.header .links ul li a
{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover
{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a
{
    border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing */
.landing
{
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
   background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    
}
 .landing .intro-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;

} 
.landing .intro-text h1
{
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.808);
}
 .landing .intro-text p
{
   font-weight: normal;
   font-size: 19px;
   line-height: 1.8;
   margin-top: 10xp;
}
.features
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
   
}

.features .container .feat
{
    padding: 20px;
    text-align: center;
}
.features .container .feat i
{
    font-size: 50px;
    color: var(--main-color);

}
.features .container .feat h1
{
    font-size: 20px;
    font-weight: 800px;
    margin:30px auto;
}
.features .container .feat p
{
    font-size: 17px;
    color:#777;
    line-height: 1.8;
    
}

/* End Landing */
/* start services */
.services
{
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}
.services .services-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
    
}
.services-image
{
    grid-column: 3/4;
    grid-row: 1/3;
    place-self: center;
}
.services-image img
{
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.384));
    border-radius: 4px;
}

@media (max-width:1200px) {

    
  
    .services .services-image
    {
        display: none;
    }
    
}
 @media (max-width:768px) {
    .services .services-content .srv
    {
        flex-direction: column;
        text-align: center;
    }

} 

 .services .services-content .srv
{
    display: flex;
    margin-bottom: 40px;
    
   
    
}
.services .services-content .srv .text
{
    flex:1;
    margin-left: 10px;
}


 .services .services-content .srv i
{
    color: var(--main-color);
    font-size: 35px;
    width: 100%;
    flex-basis: 60px;
}
.services .services-content .srv .text h3
{
    margin-top: 0;
}
.services .services-content .srv .text p
{
    color: #777;
    font-weight: 300;
    line-height: 1.5;
}
.services .services-image
{
    position: relative;
}

.services .services-image::after{
        content: "";
    background-color: var(--secondary-color);
    position: absolute;
    height: calc(100% + 100px);
    width: 100px;
    top: -50px;
    z-index: -1;
    right: -50px;
}
/* end services */

 /* Start Portfolio */
 .portfolio
 {

    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
 }
 .portfolio .portfolio-content
 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
    
 }

 .portfolio .portfolio-content .proj
 {
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
    border-radius: 6px;
    transition: var(--main-duration);
    cursor: pointer;
 }
  .portfolio .portfolio-content .proj:hover
  {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
    transform: translateY(-5px);
  }
  .portfolio .portfolio-content .proj img{
    max-width: 100%;
    border-radius: 6px;
  }
   .portfolio .portfolio-content .proj .text
    {
        padding: 20px;
    }
    .portfolio .portfolio-content .proj .text h3{
        margin: 0;
    }
.portfolio .portfolio-content .proj .text p
{
    margin-bottom: 0;
    line-height: 1.5;
    color:#777;
}

  /* End Portfolio */
  /* Start About */
  .about
  {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-bottom: 50px;
  }
   .about .about-content
   {
    display: flex;
    gap: 250px;
     
  align-items: center;
  margin-top: 80px;
   }
   .about .about-content .about-image img
   {
    width: 250px;
   }


.about .about-content .about-text p:first-of-type
{
    font-weight: bold;
}
.about .about-content .about-text p:last-of-type
{
    color: #777;
}
.about .about-content .about-text hr
{
   border: var(--main-color) 1px solid;
   width: 300px;
   margin: 50px 0 30px 0;
   
    
}
.about .about-content .about-text
{
    position: relative;
    line-height: 1.8;
    
}

    @media (max-width:992px) {
    .about .about-content
   {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px;
   }
   .about .about-content .about-text hr
   {
    margin-left:  auto;
    margin-right:  auto;
   }
   .about .about-content .about-image::before
   {
    display: none;
   }
   .about .about-content .about-image::after
   {
    display: none;
   }

 
} 
   .about .about-content .about-text p
   {
    margin: 0;
   }
   .about .about-content .about-image
   {
    position: relative;
   }
   .about .about-content .about-image::before
   {
        content: "";
    background-color:#ececec;
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    z-index: -1;
    left: -25px;
   }
   .about .about-content .about-image::after
   {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
   }
  /* End About */
  /* Start Contact */
  .contact
  {
      padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:#f6f6f6;
  }

  .contact .info
  {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
  }
.contact .info .label
 {
      font-size: 40px;
      font-weight: 800;
      color: var(--secondary-color);
      letter-spacing: -2px;
      margin-bottom: 15x;
 }
.contact .info .link
{
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
    display: block;


}
.contact .info .social
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    gap: 0.3rem;;
}
.contact .info .social i
{
    color: var(--secondary-color);
}
@media (max-width:767px) {
    .contact .info .link,
    .contact .info .label
    {
        font-size: 25px;
    }
}
  /* End Contact */
  /* Start Footer */
  .footer
  {
    background-color: var(--secondary-color);
    padding: 30px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 500;
  }
  .footer span
  {
    color: var(--main-color);
  }
  /* End Footer */